<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

        <table align="center" border="2">
            <tr>
                <th width="150">
                    <a href="{% url 'register'%}">
                        register vendor
                    </a>
                </th>
            </tr>
            <tr>
                <th width="150">
                    <a href="{% url 'login' %}">
                        login vendor
                    </a>
                </th>
            </tr>


            <tr>
                <th width="150">
                    <a href="{% url 'registerbidder'%}">
                        register bidder
                    </a>
                </th>
            </tr>
            <tr>
                <th width="150">
                    <a href="{% url 'loginbidder'%}">
                        login bidder
                    </a>
                </th>
            </tr>



        </table>
</body>
</html>